@import "src/shared/sass/variables";

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  font-family: $font-secondary;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
  }
}

.sticker {
  width: 40%;
  background: $form-color-dark;
  color: $form-color-light;
  margin: auto 0;
  padding: 2rem 5rem 2rem 2rem;
  @media screen and (max-width: 700px) {
    width: 100%;
  }

  .heading {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .desc {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 500;
  }
}

.AuthForm {
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: $box-shadow-big;
  background: $form-color-light;
  color: $form-color-dark;
  width: 60%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }

  .SignModeSwitch {
    margin: 1rem 2rem 0 auto;
  }

  .formContent {
    margin: 0 2rem;
    @media screen and (max-width: 700px) {
      margin: 0;
    }
  }

  .spinner {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
  }
}

